/*Esto elimina los espacios que puede generar el navegador, para que no hayan margenes incorrectos*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*Seccion que manipula la pagina entera*/
html{
    /*Permite que el scroll por secciones sea mas suave*/
    scroll-behavior: smooth;
}

/*Seccion de variables globales para el programa*/
:root{
    --negro:#000;
    --blanco:#ffffff;
    --movimiento_circulo_atras: slide 0.5s ease-in-out forwards;
    --movimiento_circulo_enmedio: slide 0.5s ease-in-out 0.5s forwards;
    --movimiento_circulo_frente: slide 0.5s ease-in-out 1s forwards;
    --movimiento_imagen_mia: slide 0.5s ease-in-out 1.5s forwards;
    --vburbujeo_up: burbujeo_up 3s ease-in-out infinite;
    --vburbujeo_down: burbujeo_down 3s ease-in-out infinite;
    --icono1: burbujeo_upNERF 3s ease-in-out infinite;
    --icono2: burbujeo_downNERF 3s ease-in-out infinite;
}

/*Seccion para manipular el cuerpo del programa*/
body{
    /*Colocamos el fondo negro y letras blancas*/
    background:var(--negro);
    color:var(--blanco);

    /*Quita la barra de desplazamiento horizontal cuando un objeto la llama*/
    overflow-x: hidden
}

/*Seccion para manipular el encabezado del programa*/
header{
    /*Tamano del encabezado*/
    height:120px;
    /*Permite que el texto pueda estar en la misma linea; sea mas flexible a cambios*/
    display: flex;
    /*Genera un espacio de extremo a extremo a los textos*/
    justify-content:space-between;
    /*Coloca el texto en el centro del encabezado*/
    align-items: center;
    /*Espacio entre el texto y los extremos*/
    padding:0 40px;
    /*Coloca un limite del encabezado, una linea*/
    border-bottom:1px solid rgb(255, 255, 255);

    /*Coloca el encabezado como fijo*/
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
 
    /*hace que el encabezado quede por encima siempre, solo falta poner un -1 para los que quiero atras*/
    z-index: 1000;
}

.logo{
    font-size:105px;
    font-weight:bold;
}

nav{
    /*Texto mas flexible a cambios*/
    display:flex;
    /*Realiza una separacion entre textos*/
    gap:60px;
    /*Con esto podremnos manipualr la posicion de Y*/
    padding-top:50px;
}

/*Cambios para la lista dentro del nav (textos programables)*/
nav a{
    color:white;
    text-decoration:none;
    font-size:30px;
    /*Tiempo en el que pasaran las cosas (en este caso para cuando pasemos el cursor)*/
    transition:.3s;
}

/*Cambios cuando se pasa el cursor encima del texto programable*/
nav a.lft:hover{
    color: #a7a5a5;
    transform: rotate(-1deg);
}

nav a.rgt:hover{
    color: #a7a5a5;
    transform: rotate(1deg);
}

/*Cambios cuando se selecciona el texto programable*/
nav a.lft:active{
    color: #797878;
    transform: rotate(2deg);
}

nav a.rgt:active{
    color: #797878;
    transform: rotate(-2deg);
}

/*Seccion para manipular las secciones del programa*/
section{
    /*Modifica el espacio entre secciones*/
    min-height: 100vh;
    /*El primero modifica el espacio del texto al borde cuando baja*/
    /*El segundo modifica el espacio del texto al borde izquierdo*/
    padding: 40px 40px;
    /*Permite que el titulo no sea tapado por el encabezado*/
    scroll-margin-top: 120px;
}

/*Podemos modificar seccion por seccion*/
#SobreMi{
    /*Separacion del tope*/
    padding-top: 150px;
}

.ciculosdeg{
    /*Permite que la posicion sea manejable*/
    position: relative;
    padding-left: 510px;
    padding-top: 50px;
    isolation: isolate;
    /*Infinite es para siempre, forwards solo cuando se carga*/
}

/**/

@keyframes slide {
    0%{
        opacity: 0%;
        bottom: 10%;
    }

    100%{
        opacity: 100%;
        bottom: 14%;
    }
}

@keyframes burbujeo_up {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes burbujeo_down {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes burbujeo_upNERF {
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

@keyframes burbujeo_downNERF {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

#circle{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: -1;

    left: -90px;
    top: 116px;

    animation: var(--movimiento_circulo_frente), var(--vburbujeo_up);
    opacity: 0; 

    background: linear-gradient(
        to bottom,
        #2B3C95 4%,
        #5545AD 24%,
        #F6515A 64%,
        #FD8F54 84%
    );
}

#circle2{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: -2;

    left: 1120px;
    top: -16px;

    animation: var(--movimiento_circulo_frente), var(--vburbujeo_down);
    opacity: 0;

    background: linear-gradient(
        to bottom,
        #2B3C95 4%,
        #5545AD 24%,
        #F6515A 64%,
        #FD8F54 84%
    );
}

#circle3{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -3;

    /*Efecto de desenfoque*/
    filter: blur(2px);
    animation: var(--movimiento_circulo_enmedio), var(--vburbujeo_down);
    /*Hace que el cirulo este no aparezaca hasta que haya una animación por ejemplo*/
    opacity: 0;

    left: 150px;
    top: 46px;

    background: linear-gradient(
        to bottom,
        #2B3C95 4%,
        #5545AD 24%,
        #F6515A 64%,
        #FD8F54 84%
    );
}

#circle4{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -3;

    /*Efecto de desenfoque*/
    filter: blur(2px);
    animation: var(--movimiento_circulo_enmedio), var(--vburbujeo_up);
    opacity: 0;

    left: 1105px;
    top: 299px;

    background: linear-gradient(
        to bottom,
        #2B3C95 4%,
        #5545AD 24%,
        #F6515A 64%,
        #FD8F54 84%
    );
}

#circle5{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: -3;

    /*Efecto de desenfoque*/
    filter: blur(5px);
    animation: var(--movimiento_circulo_atras), var(--vburbujeo_up);

    left: 320px;
    top: 230px;

    background: linear-gradient(
        to bottom,
        #2B3C95 4%,
        #5545AD 24%,
        #F6515A 64%,
        #FD8F54 84%
    );
}

#circle6{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: -3;

    /*Efecto de desenfoque*/
    filter: blur(5px);
    animation: var(--movimiento_circulo_atras), var(--vburbujeo_down);

    left: 1008px;
    top: 160px;

    background: linear-gradient(
        to bottom,
        #2B3C95 4%,
        #5545AD 24%,
        #F6515A 64%,
        #FD8F54 84%
    );
}

.bienvenida{
    position: absolute;
    z-index: 1;
    display: flex;
    left: 5px;
    top: 20px;
    font-size:50px;
    font-weight: bolder;
    text-shadow: 3px 3px 0px #000000;

    animation: var(--movimiento_circulo_atras);
    opacity: 0;
}

.nombre{
    position: absolute;
    z-index: 1;
    display: flex;
    left: 5px;
    top: 80px;
    font-size:120px;
    font-weight: bolder;
    text-shadow: 5px 5px 0px #000000;

    max-width: 1050px; 

    animation: var(--movimiento_circulo_enmedio);
    opacity: 0;
}

.ocupacion{
    position: absolute;
    z-index: 1;
    display: flex;
    left: 5px;
    top: 370px;
    font-size:29.4px;
    font-weight: bolder;
    text-shadow: 2.5px 2.5px 0px #000000;
    text-decoration-line: underline;

    animation: var(--movimiento_circulo_frente);
    opacity: 0;
}

.image{
    position: absolute;
    left: 700px;
    top: 25px;
    z-index: -2;

    animation: var(--movimiento_imagen_mia);
    opacity: 0;
}

.frace{
    position: absolute;
    z-index: 1;
    display: flex;
    left: 1220px;
    top: 65px;
    font-size:29.4px;
    font-weight: bolder;
    text-shadow: 2.5px 2.5px 0px #000000;

    animation: var(--movimiento_imagen_mia), var(--vburbujeo_down );
    opacity: 0;
}

.lineas_fondo_inicio{
    position: relative;

    background-image:
    /*Linea vertical*/
    linear-gradient(to right, rgb(90, 83, 83) 10px, transparent 10px),
     /*Linea horizontal*/
    linear-gradient(to bottom, rgb(90, 83, 83) 10px, transparent 10px),
    /*Lineas de fondo*/
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px);
    
    background-size: 
        10px 73%, /*Permite alargar la linea para abajo*/   
        89% 20px, /*Permite alargar la linea para la derecha*/     
        91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px,
        91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px;   
    
    background-position: 
        5% 161px,       
        75px 97%,       
        55px 94%, 55px 90%, 55px 86%, 55px 82%, 55px 78%, 55px 74%, 55px 70%, 55px 66%, 55px 62%, 55px 58%, 55px 54%, 55px 50%,
        55px 46%, 55px 42%, 55px 38%, 55px 34%, 55px 30%, 55px 26%;          
    
    background-repeat: 
        no-repeat,    
        no-repeat,    
        no-repeat;      
}

.lineas_fondo_all{
    position: relative;
    
    background-image:
    /*Linea vertical*/
    linear-gradient(to right, rgb(90, 83, 83) 10px, transparent 10px),
     /*Linea horizontal*/
    linear-gradient(to bottom, rgb(90, 83, 83) 10px, transparent 10px),
    /*Lineas de fondo*/
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px),
    linear-gradient(to bottom, rgb(58, 58, 58) 1px, transparent 3px);
    
    background-size: 
        10px 73%, /*Permite alargar la linea para abajo*/   
        89% 20px, /*Permite alargar la linea para la derecha*/     
        91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px,
        91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px;
    
    background-position: 
        5% 40px,       
        75px 80%,       
        55px 76.5%, 55px 72%, 55px 68%, 55px 64%, 55px 60%, 55px 56%, 55px 52%, 55px 48%, 55px 44%, 55px 40%, 55px 36%, 55px 32%,
        55px 28%, 55px 24%, 55px 20%, 55px 16%, 55px 12%, 55px 8%;        
    
    background-repeat: 
        no-repeat,    
        no-repeat,    
        no-repeat;      
}

.TituloProyectos{
    position: absolute;
    z-index: 1;
    display: flex;
    left: 110px;
    top: 20px;
    font-size:70px;
    font-weight: bolder;
    text-shadow: 5px 5px 0px #000000;
}

.rectangulos{
    position: relative;
    padding-left: 510px;
    padding-top: 50px;
    isolation: isolate;
}

#recta{
    position: absolute;
    width: 350px;
    height: 390px;
    z-index: -2;

    left: 175px;
    top: 110px;

    background: linear-gradient(
        to bottom,
        #0C1635 0%,
        #2B3C95 50%,
        #5545AD 100%
    );
}

#recta2{
    position: absolute;
    width: 350px;
    height: 480px;
    z-index: -2;

    left: 575px;
    top: 20px;

    background: linear-gradient(
        to bottom,
        #0C1635 0%,
        #2B3C95 50%,
        #5545AD 100%
    );
}

#recta3{
    position: absolute;
    width: 350px;
    height: 359px;
    z-index: -2;

    left: 975px;
    top: 141px;

    background: linear-gradient(
        to bottom,
        #0C1635 0%,
        #2B3C95 50%,
        #5545AD 100%
    );
}


/*Rectangulos no usados*/
#recta4{
    position: absolute;
    width: 350px;
    height: 420px;
    z-index: -2;

    left: -225px;
    top: 80px;
    

    background: linear-gradient(
        to bottom,
        #0C1635 0%,
        #2B3C95 50%,
        #5545AD 100%
    );
}

#recta5{
    position: absolute;
    width: 350px;
    height: 479px;
    z-index: -2;

    left: 1375px;
    top: 21px;

    background: linear-gradient(
        to bottom,
        #0C1635 0%,
        #2B3C95 50%,
        #5545AD 100%
    );
}

.Cap1_1P{
    position: absolute;
    left: 150px;
    top: 240px;
    /*Inclina un poco las imagenes*/
    transform: rotate(-5deg);
}

.Cap2_1P{
    position: absolute;
    left: 280px;
    top: 350px;
    transform: rotate(5deg);
}

.Cap1_2P{
    position: absolute;
    left: 570px;
    top: 150px;
    /*Inclina un poco las imagenes*/
    transform: rotate(5deg);
}

.Cap2_2P{
    position: absolute;
    left: 650px;
    top: 320px;
    transform: rotate(-5deg);
}

.logo_excel1{
    position: absolute;
    top: 100px;
    left: 370px;
    animation: var(--icono1);
}

.logo_sqls{
    position: absolute;
    top: 98px;
    left: 440px;
    animation: var(--icono2);
}

.logo_excel2{
    position: absolute;
    top: 10px;
    left: 740px;
    animation: var(--icono2);
}

.logo_powerbi{
    position: absolute;
    top: 10px;
    left: 810px;
    animation: var(--icono1);
}

.logo_sqlw{
    position: absolute;
    top: 10px;
    left: 865px;
    animation: var(--icono2);
}

.titulo_primero{
    position: absolute;
    display: flex;
    left: 200px;
    top: 120px;
    font-size:37px;
    font-weight: bolder;
    text-shadow: 2.5px 2.5px 0px #000000;
    text-decoration-line: underline;
}

.titulo_segundo{
    position: absolute;
    display: flex;
    left: 597px;
    top: 35px;
    font-size:37px;
    font-weight: bolder;
    text-shadow: 2.5px 2.5px 0px #000000;
    text-decoration-line: underline;
}

.TituloCertificados{
    position: absolute;
    z-index: 1;
    display: flex;
    left: 110px;
    top: 20px;
    font-size:70px;
    font-weight: bolder;
    text-shadow: 5px 5px 0px #000000;
}

.TituloHabilidades{
    position: absolute;
    z-index: 1;
    display: flex;
    left: 110px;
    top: 20px;
    font-size:70px;
    font-weight: bolder;
    text-shadow: 5px 5px 0px #000000;
}

.TituloContacto{
    position: absolute;
    z-index: 1;
    display: flex;
    left: 110px;
    top: 20px;
    font-size:70px;
    font-weight: bolder;
    text-shadow: 5px 5px 0px #000000;
}

@media (max-width: 773px){

    html, body{
        overflow-x: hidden;
        max-width: 100vw;
    }

    header{
        padding: 0 15px;
    }

    .logo{
        font-size: 85px;
    }

    nav{
        gap: 15px;
        padding-top: 0;
        flex-wrap: wrap;
    }

    nav a{
        display: none;
    }

    section{
        min-height: 100dvh;
    }

    .ciculosdeg{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .bienvenida,
    .nombre,
    .ocupacion,
    .frace{
        position: absolute;
        left: 0;
        display: block;
        max-width: 100%;
        margin-bottom: 15px;
    } 

    .bienvenida{ 
        font-size: 28px; 
        top: -20px;
        text-shadow: 2px 2px 0px #000000;
    }
    .nombre{ 
        font-size: 44px; 
        top: 23px;
        text-shadow: 2px 2px 0px #000000;
    }
    .ocupacion{ 
        font-size: 18px; 
        top: 133px;
        text-shadow: 2px 2px 0px #000000;
    }
    .frace{ 
        font-size: 16px;
        top: 530px; 
        text-shadow: 2px 2px 0px #000000;
        z-index: 10;
        animation: var(--movimiento_imagen_mia);
    }

    .image{
        position: absolute;
        left: 0;
        display: block;
        max-width: 100%;
        margin: 20px auto;
        text-align: center;
        top: 180px;
        z-index: -1;
    }

    .image img{
        max-width: 100%;
        height: auto;
    }

    .lineas_fondo_inicio{
    background-size: 
        10px 71%, /*Permite alargar la linea para abajo*/   
        85% 20px, /*Permite alargar la linea para la derecha*/     
        91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px,
        91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px;   
    
    background-position: 
        7.5% 161px,       
        29px 95%,       
        17px 93%, 17px 89%, 17px 85%, 17px 81%, 17px 77%, 17px 73%, 17px 69%, 17px 65%, 17px 61%, 17px 57%, 17px 53%, 17px 49%,
        17px 45%, 17px 41%, 17px 37%, 17px 33%, 17px 29%, 17px 25%;       
    }

    .lineas_fondo_all{
    background-size: 
        10px 73%, /*Permite alargar la linea para abajo*/   
        85% 9px, /*Permite alargar la linea para la derecha*/     
        91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px,
        91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px, 91.5% 30px; 
    
    background-position: 
        7.5% 150px,       
        29px 94%,       
        17px 92.5%, 17px 87.5%, 17px 83.5%, 17px 79.5%, 17px 75.5%, 17px 71.5%, 17px 67.5%, 17px 63.5%, 17px 59.5%, 17px 55.5%, 17px 51.5%, 17px 47.5%,
        17px 43.5%, 17px 39.5%, 17px 35.5%, 17px 31.5%, 17px 27.5%, 17px 23.5%;           
    }

    #circle{
        position: absolute;
        width: 250px;
        height: 250px;
        left: -100px;
        top: 40px;
        z-index: 0;
    }

    #circle2{
        position: absolute;
        width: 250px;
        height: 250px;
        left: 160px;
        top: 320px;
        z-index: -2;
    }

    #circle3{
        position: absolute;
        width: 140px;
        height: 140px;
        z-index: -2;

        left: 70px;
        top: -3px;
    }

    #circle4{
        position: absolute;
        width: 140px;
        height: 140px;
        z-index: -3;

        left: 120px;
        top: 490px;
    }

    #circle5{
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 0;
        z-index: -3;

        left: 170px;
        top: 140px;
    }

    #circle6{
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 0;
        z-index: -3;

        left: 93px;
        top: 435px;
    }

    .TituloProyectos, .TituloCertificados, .TituloHabilidades, .TituloContacto{
        position: absolute;
        left: 29;
        max-width: 100%;
        margin-bottom: 15px;
        font-size: 28px; 
        top: 110px;
        text-shadow: 2px 2px 0px #000000;
    }

    .rectangulos{
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .titulo_primero{
        position: absolute;
        left: -20;
        top: 185;
        font-size: 24px;
        margin-bottom: 15px;

        display: block;
        max-width: 50%;
        white-space: normal;

        text-shadow: 2px 2px 0px #000000;
    }

    .titulo_segundo{
        position: absolute;
        left: -20;
        top: 375;
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: 20px;

        display: block;
        max-width: 50%;
        white-space: normal;

        text-shadow: 2px 2px 0px #000000;
    }

    .Cap1_1P, .Cap2_1P, .Cap1_2P, .Cap2_2P{
        position: relative;
        left: 0;
        top: 0;
        max-width: 100%;
        display: block;
        margin: 15px auto;
        text-align: center;
    }

    .Cap1_1P{
        left: 75px;
        top: 75px;
        transform: rotate(-5deg);
        width: 150px;
    }

    .Cap2_1P{
        left: 145px;
        top: 25px;
        transform: rotate(5deg);
        width: 150px;
    }

    .Cap1_2P{
        left: 80px;
        top: 25px;
        transform: rotate(5deg);
        width: 170px;
    }

    .Cap2_2P{
        left: 140px;
        top: -45px;
        transform: rotate(-5deg);
        width: 170px;
    }

    .Cap1_1P img, .Cap2_1P img,
    .Cap1_2P img, .Cap2_2P img{
        max-width: 100%;
        height: auto;
    }

    .logo_excel1, .logo_excel2,
    .logo_sqls, .logo_powerbi, .logo_sqlw{
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        margin: 5px;
    }

    .logo_excel1{
        left: -30px;
        top: 285px;
    }

    .logo_sqls{
        left: 35px;
        top: 285px;
    }

    .logo_excel2{
        left: -30px;
        top: 477px;
    }

    .logo_powerbi{
        left: 35px;
        top: 477px;
    }

    .logo_sqlw{
        left: 85px;
        top: 477px;
    }

    .logo_excel1, .logo_excel2,
    .logo_sqls, .logo_powerbi, .logo_sqlw{
        max-width: 100%;
        height: auto;
    }

    #recta4, #recta5{
        display: none;
    }

    #recta{
        position: absolute;
        width: 150px;
        height: 330px;
        z-index: -2;

        left: 50px;
        top: 75px;
        transform: rotate(90deg);
    }

    #recta2{
        position: absolute;
        width: 150px;
        height: 370px;
        z-index: -2;

        left: 70px;
        top: 245px;
        transform: rotate(90deg);
    }

    #recta3{
        position: absolute;
        width: 150px;
        height: 300px;
        z-index: -2;

        left: 35px;
        top: 475px;
        transform: rotate(90deg);
    }
}